name: javaweb ci/cb for ecs

on:
  push:
    branches:
      - master
  workflow_dispatch:

env: 
  AWS_REGION: ${{ secrets.AWS_REGION}}
  AWS_ACCOUNT_ID: ${{secrets.AWS_ACCOUNT_ID}}
  APP_NAME: my-java-app
  IMAGE_TAG: ${{github.run_number}}
  ECR_REPO: ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.${{secrets.AWS_REGION}}.amazonaws.com

  jobs:
    bulid_deploy:
      runs_on: ubuntu-latest

      steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup jdk 17
        uses: actions/setup-java@v4
        with: 
          distribution: 'temurin'
          java-version: '17'
          cache: maven
      - name: Maven Bulid
        run: mvn clean package

      - name: Sonarqube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        env: 
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
          SONAR_HOST_URL: ${{Secrets.SONAR_HOST_URL}}

      - name: Configure AWS  credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-key-id: ${{secrets.AWS_SECRET_KEY_ID}}
          aws_region: ${{secrets.AWS_REGION}}
